<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>Portfolio card</title>
<link rel="stylesheet" href="scripts.bcf3243b.css"></head>
<body>

    <div id="container">
        <img src="profilepicture.c5503540.jpg" alt="profile picture">

        <h1>Jochen Panjaer</h1>
        <h2>web developer - web designer</h2>

        <p>Sometimes a website can be really simple, yet still effective.<br> 
           A <em>landing-or billboard type page</em> might already be sufficient for your company.
           These pages are greatly customizable to your needs.<br>
           A <em>simple</em> and <em>elegant</em> design. That's what I strive for...
        </p>

        <ul>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-pinterest-square"></i></li>
            <li><i class="fab fa-foursquare"></i></li>
        </ul>
    </div>
    
    <script src="scripts.bcf3243b.js"></script>
</body>
</html>