@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900|Roboto+Slab:400,700");
@import url("https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css");
html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:focus {
  outline: none; }

button {
  border: none; }

h1, h2, h3, h4, p {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

@media screen and (max-width: 650px) {
  html {
    font-size: 52%; } }

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  color: #e9e9e9;
  background-color: rgba(41, 128, 185, 0.45);
  font-size: 1.6rem;
  padding: .7rem 0;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center; }
  .navBar .logo {
    font-size: 2.5rem;
    font-weight: 700;
    padding: .4rem;
    margin-left: .65rem;
    border: 0.4rem solid #e9e9e9;
    border-radius: .2rem; }
  .navBar .lang {
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: 2vw;
    margin-top: .3rem; }
    .navBar .lang a {
      transition: all .3s; }
      .navBar .lang a:hover {
        font-weight: 700;
        color: #679fc5;
        border-bottom: 2px solid #679fc5; }
  .navBar .getInTouch {
    margin-right: 2.2rem; }
    .navBar .getInTouch a {
      font-size: 1.6rem;
      padding: 1rem 1.2rem;
      border: 1px solid #e9e9e9;
      border-radius: .6rem;
      transition: all .3s; }
      .navBar .getInTouch a:hover {
        background-color: rgba(7, 22, 32, 0.2); }

@media screen and (max-width: 460px) {
  .navBar .lang {
    margin-left: 2.2em;
    margin-right: auto; } }

.hero {
  background: #d4d4d4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e9e9e9;
  background: linear-gradient(to bottom, rgba(41, 128, 185, 0.85), rgba(7, 22, 32, 0.98)), url("../img/steve-roe-711013-unsplash.jpg");
  background-size: cover;
  background-position: bottom;
  overflow: hidden; }
  .hero__description h1 {
    font-size: 5.3rem;
    margin-bottom: 2.5rem;
    animation: flyInLeft .45s ease-out; }
  .hero__description p {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: .17rem;
    line-height: 1.6;
    text-align: right;
    animation: flyInRight .45s ease-out; }
  .hero .caretDown {
    font-size: 5.3rem;
    margin-top: 7.5vh;
    opacity: .5;
    animation: flyInBottom .45s ease-out; }

@media screen and (max-width: 460px) {
  .hero .hero__description {
    margin: 0 1rem; }
    .hero .hero__description h1 {
      font-size: 1.8rem; }
    .hero .hero__description p {
      font-size: 1.6rem;
      text-align: left;
      letter-spacing: .12rem; } }

@media screen and (max-width: 375px) {
  .hero .hero__description h1 {
    text-align: center; }
  .hero .hero__description p {
    text-align: center; } }

@keyframes flyInLeft {
  0% {
    transform: translateX(-50vw);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes flyInRight {
  0% {
    transform: translateX(50vw);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes flyInBottom {
  0% {
    transform: translateY(50vw);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
