<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skate.</title>
<link rel="stylesheet" href="scripts.bcf3243b.css"></head>
<body>

    <div class="hero">
        <nav>
            <img src="skate-logo@2x.7e2997f3.png" alt="skate logo">

            <p>&#9776;</p>
            <ul>
                <li><a href="#">Guides</a></li>
                <li><a href="#">Day excursions</a></li>
                <li><a href="#">Multi-day excursions</a></li>
                <li><a href="#">Attractions</a></li>
            </ul>
        </nav>

        <div class="nav__mobile">
            <ul>
                <li><a href="#">Guides</a></li>
                <li><a href="#">Day excursions</a></li>
                <li><a href="#">Multi-day excursions</a></li>
                <li><a href="#">Attractions</a></li>
            </ul>
        </div>

        <div class="hero__cta">
            <h1>Skate the best.</h1>
            <p class="hero__cta__description">Plan a 1 day skate trip for friends and family. Lunch and campfire included.</p>
            <button>
                <ion-icon name="calendar"></ion-icon>
                <p>schedule</p>
            </button>
        </div>

        <div class="hero__scroll">
            <p>SCROLL</p>
        </div>
    </div>

    <div class="container">

        <div class="explanation explanation--right">
            <img src="colton-sturgeon-1055539-unsplash@2x.f7641d81.png" alt="person holding a longboard in the sunset">
            <div class="explanation__description">
                <h2>Chill &amp; Skate all day</h2>
                <p>Sed et molestie lacus. Mauris rhoncus efficitur metus sed laoreet. Sed tincidunt malesuada urna at dignissim. Integer vel dignissim est, non blandit dolor. In hac habitasse platea dictumst. 
                        Nam eget semper tortor. Fusce vitae iaculis magna. Donec orci enim, tincidunt et sapien cursus, cursus porta mauris. 
                        Phasellus maximus odio ac varius lacinia. Nam quis ornare libero. Mauris aliquet, nisl at tincidunt eleifend.</p>
                <ul class="explanation__description__details">
                    <li><ion-icon name="time"></ion-icon><p>10 hours</p></li>
                    <li><ion-icon name="person"></ion-icon><p>2-10 people</p></li>
                    <li><ion-icon name="compass"></ion-icon><p>La Roche, Belgium</p></li>
                </ul>
            </div>
        </div>

        <div class="pictures">
            <h2>Pictures</h2>
            <div class="pictures__grid">
                <figure>
                    <img src="1@2x.42c69de1.png" alt="">
                    <figcaption>
                        <p>see more</p>
                    </figcaption>
                </figure>

                <figure>
                    <img src="2@2x.5dd7c6c1.png" alt="">
                    <figcaption>
                        <p>see more</p>
                    </figcaption>
                </figure>

                <figure>
                    <img src="4@2x.4c8c67ef.png" alt="">
                    <figcaption>
                        <p>see more</p>
                    </figcaption>
                </figure>
    
                <figure>
                    <img src="6@2x.ffac1fd6.png" alt="">
                    <figcaption>
                        <p>see more</p>
                    </figcaption>
                </figure>

                <figure>
                    <img src="3@2x.9296cb96.png" alt="">
                    <figcaption>
                        <p>see more</p>
                    </figcaption>
                </figure>
    
                <figure>
                    <img src="7@2x.35115da1.png" alt="">
                    <figcaption>
                        <p>see more</p>
                    </figcaption>
                </figure>

                <figure>
                    <img src="8@2x.69ba7ad8.png" alt="">
                    <figcaption>
                        <p>see more</p>
                    </figcaption>
                </figure>
    
                <figure>
                    <img src="5@2x.8037139a.png" alt="">
                    <figcaption>
                        <p>see more</p>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="explanation explanation--left">
            <div class="explanation__description">
                <h2>More info</h2>
                <p>Sed et molestie lacus. Mauris rhoncus efficitur metus sed laoreet. Integer vel dignissim est, non blandit dolor. In hac habitasse platea dictumst.
                        Phasellus maximus odio ac varius lacinia. Nam quis ornare libero. Mauris aliquet, nisl at tincidunt eleifend.</p>
                <p class="explanation__description__learnmore"><span>Learn more</span><ion-icon name="arrow-round-forward"></ion-icon></p>
            </div>
            <img src="skateboard-1870039_1280@2x.0c9e1538.png" alt="person doing a powerslide">
        </div>

    </div>
    
    <div class="footer">
        <ul>
            <li><ion-icon name="logo-facebook"></ion-icon></li>
            <li><ion-icon name="logo-instagram"></ion-icon></li>
            <li><ion-icon name="logo-twitter"></ion-icon></li>
        </ul>
        <p>copyright 2019 - Jochen Panjaer Graphics</p>
    </div>

    <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
    <script src="scripts.bcf3243b.js"></script>
</body>
</html>