@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900|Roboto+Slab:400,700');
@import url('https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css');


$ff-ss: 'Raleway', sans-serif;
$ff-s: 'Roboto Slab', serif;

$fw-thin: 300;
$fw-regular: 400;
$fw-medium: 600;
$fw-bold: 700;
$fw-black: 900;

$fs-small: 1.3rem;
$fs-regular: 1.6rem;
$fs-large: 1.8rem;
$fs-xlarge: 3rem;
$fs-vlarge: 5.3rem;

$fs-icon-large: 3.2rem;