$color-main: #2980b9;
$color-main-gradient: #1e5d86;
$color-main-container: #1b5478;
$color-light: #bddcf0;
$color-light-alt: #679fc5;
$color-dark: #071620;
$color-dark-alt: #1e2f39;

$color-main-trans: rgba(41, 128, 185, .85);
$color-main-trans-light: rgba(41, 128, 185, .45);

$color-dark-trans: rgba(7, 22, 32, .98);
$color-dark-trans-light: rgba(7, 22, 32, .2);

$color-light-trans: rgba(189, 220, 240, .75);
$color-light-alt-trans: rgba(103, 159, 197, .75);

$color-bg: #d4d4d4;
$color-text-light: #e9e9e9;
$color-text-dark: #383838;

$color-border-dark: #c7c7c7;