.portfolio {
    width: 100%;
    
    color: $color-text-dark;
    margin-top: 3rem;
    background-color: white;
    
    h2 {
        font-size: $fs-xlarge;
        font-weight: $fw-regular;
        letter-spacing: 2px;
        
        border-bottom: 1px solid $color-border-dark;
        margin: 8rem 2.5rem 0 2.5rem;
        padding-bottom: 2.5rem;

        @media screen and (max-width: 900px) {
            margin-left: 0;
            text-align: center;
        }
    }

    // @media screen and (max-width: 699px) {
    //     display: none;
    // }

    .container {
        width: 95vw;
        margin: 5rem auto 0 auto;
    }
}