.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: $color-text-light;
}

.service {
    padding: 3em;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 23rem 1fr;
    
    background: linear-gradient(to bottom, $color-main, $color-main);
    transition: background .5s;

    &:hover {
        background: linear-gradient(to bottom, $color-main-gradient, $color-main);
    }

    &__header {
        &__icon {
                font-size: $fs-icon-large;
                text-align: center;
                margin-bottom: 1.2rem;
                color: $color-light;
            }

        &__description {
            
            h2 {
                color: $color-light;
                font-size: $fs-large;
                font-weight: $fw-regular;
                text-align: center;
                letter-spacing: 3px;
                text-transform: uppercase;
                
                padding-bottom: 2.5rem;
                margin-bottom: 2rem;
                border-bottom: 1px solid $color-light;
            }

            p {
                font-family: $ff-s;
                font-size: $fs-small;
                font-weight: $fw-regular;
                line-height: 1.65;
            }
        }
    }

    &__me {

        h3 {
            font-size: $fs-large;
            font-weight: $fw-thin;
            margin-bottom: 1.6rem;
            color: $color-light;


            &:last-of-type {
                margin-top: 2rem;
            }
        }

        ul {
           list-style: none;
           margin: 0;
           padding: 0;

            li { 
                font-size: $fs-small;
                font-weight: $fw-regular;
                padding-bottom: 1.2rem;
            }
        }
    }   
}

@media screen and (max-width: 1615px) {
    .service { grid-template-rows: 25rem 1fr; }
}

@media screen and (max-width: 1250px) {
    .services { 
        width: 100vw;
        margin: 0;
    }

    .service { 
        grid-template-rows: 30rem 1fr; 
        border-radius: 0;
    }
}

@media screen and (max-width: 1186px) {
    .services { 
        grid-template-columns: repeat(2, 1fr);
    }

    .service { grid-template-rows: 20rem 1fr; }
}

@media screen and (max-width: 899px) {
    .service { grid-template-rows: 23rem 1fr; }
}

@media screen and (max-width: 700px) {
    .service { grid-template-rows: 25rem 1fr; }
}

@media screen and (max-width: 485px) {
    .services { grid-template-columns: 1fr; }
}