    .logo {
        font-size: 2.5rem;
        font-weight: $fw-bold;
        
        padding: .4rem;
        margin-left: .65rem;
        border: .4rem solid $color-text-light;
        border-radius: .2rem;
    }