<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CHATR</title>
<link rel="stylesheet" href="scripts.bcf3243b.css"></head>
<body>
    
    <nav>
        <div class="logo">
            <img src="ChatrLogo.eef9a392.png" alt="">
            <p>CHATR</p>
        </div>

        <ul class="navigation">
            <li><a href="#">Download</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Support</a></li>
        </ul>
    </nav>

    <div class="content">
        <h1>A collaboration tool for designers and developers</h1>
        <button>download
            <span>v1.4.5</span>
        </button>
        <img src="App.1aab8315.png" alt="app">
    </div>

    <script src="scripts.bcf3243b.js"></script>

</body>
</html>